* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-height: 100vh;
}

main {
  border-radius: 12px;
  background-color: lightgray;
  width: 800px;
  margin: 100px auto;
  /* border: 1px solid black; */
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.container {
  border: 5px solid white;
  width: 200px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 15px 10px gray;
}

.container img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.container:hover img {
  transform: scale(1.2, 1.2);
}

.overshadow {
  color: yellow;
  font-size: 1rem;
  font-weight: bolder;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: all 0.8s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.container:hover .overshadow {
  transform: translateY(0%);
}
